{% extends 'base.html' %}
{% load static %}


{% block main %}




    <!-- Start Main Banner Area -->
    <div class="home-slides owl-carousel owl-theme">
        <div class="main-banner  item-bg1">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="main-banner-content">
                            <span style="color:red;" class="sub-title"> مراقبت از دندان</span>
                            <h1>مراقبت از دندان های شما</h1>
                            <p>
                                با جدیدترین ابزار و به روزترین متد ها لبخندی زیبا برای شما به ارمغان می آوریم
                            </p>
                            <h3 style="color: white">"شنبه تا چهارشنبه معاینه"</h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- End Main Banner Area -->



    <!-- Start About Area -->
    <section class="about-area pt-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="about-image">
                        <img src="{% static 'img/about-img1.jpg' %}" alt="image">

                        <div class="text">
                            <p><span>10</span> سال تجربه</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="about-content">
                        <span class="sub-title">درباره ما</span>
                        <h2>دندانپزشکان متخصص و با تجربه</h2>


                        <ul class="features-list">
                            <li><span><i class="fas fa-check"></i> عصب کشی</span></li>
                            <li><span><i class="fas fa-check"></i> مراقبت از دندان</span></li>
                            <li><span><i class="fas fa-check"></i> ایمپلنت های دندانی</span></li>
                            <li><span><i class="fas fa-check"></i> تاج دندان</span></li>
                            <li><span><i class="fas fa-check"></i> لمینت دندان</span></li>
                            <li><span><i class="fas fa-check"></i> طرح لبخند</span></li>
                        </ul>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Area -->

{#    <!-- Start Services Area -->#}
{#    <section class="services-area ptb-100">#}
{#        <div class="container">#}
{#            <div class="section-title text-left">#}
{#                <span class="sub-title">خدمات ما</span>#}
{#                <h2>آنچه ما به شما پیشنهاد می کنیم.</h2>#}
{#                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده#}
{#                    است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد.</p>#}
{##}
{#            </div>#}
{##}
{#            <div class="row m-0">#}
{#                <div class="col-lg-4 col-md-6 col-sm-6 p-0">#}
{#                    <div class="single-services-box">#}
{#                        <h3><i class="flaticon-dental-implant"></i> ایمپلنت های دندانی <br>درمان</h3>#}
{#                       <p>ایمپلنت دندان محدودیت سنی خاصی ندارد و هر فردی که قادر به رعایت بهداشت دهان خود باشد، می تواند دندان های خود را ایمپلنت کند. اگر فرد به سن رشد رسیده باشد، می تواند به جای دندانی که از دست داده است، از ایمپلنت استفاده نماید. مثلا اگر کودکی که در سن کودکی دندان دائمی خود را در اثر حادثه ای از دست داده باشد می تواند بعد از آن که به سن ۱۶ سال رسید، از ایمپلنت استفاده کند.</p>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-lg-4 col-md-6 col-sm-6 p-0">#}
{#                    <div class="single-services-box">#}
{#                        <h3><i class="flaticon-tooth color-043d72"></i> لمینت دندان <br>درمان</h3>#}
{#                        <p>لمینت دندان (Dental laminate) که گاهی به آن ونیر (Veneer) نیز گفته می شود، روکش نازکی است که همرنگ دندان، و جهت بهبود زیبایی لبخند و ظاهر کلی فرد طراحی شده است. وقتی قطعات کوچک لمینت روی دندان ها قرار می‌گیرند، باعث تغییر رنگ، شکل، اندازه یا طول دندان‌ها به وضعیت دلخواه فرد می شوند. لمینت‌ها بجز مزایای زیبایی شناختی، مزایای دیگری نیز دارند از جمله اینکه در مقایسه با مینای دندان، مقاومت و قدرت دندان ها را افزایش می دهند و با پوشاندن ناهمترازی و سایر عیوب دندان، ردیف دندانها را مرتب و یکنواخت نشان می دهند</p>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-lg-4 col-md-6 col-sm-6 p-0">#}
{#                    <div class="single-services-box">#}
{#                        <h3><i class="flaticon-tooth-1"></i> عصب کشی <br>درمان</h3>#}
{#                      <p>رمان ریشه دندان که اشتباها عصب کشی دندان هم از آن یاد می شود، عبارت است از خارج کردن ریشه یک دندان، تمیز نمودن و شکل دادن به فضای کانال تراپی (RCT) و در انتها پر نمودن آن برای جلوگیری از نفوذ باکتری ها به این ناحیه و بازگشت باکتری ها به سیستم اعصاب دندان می باشد. هدف از انجام درمان ریشه دندان اجازه به باقی ماندن دندان در دهان بدون وجود اعصاب زنده در آن می باشد  و با انجام این کار می توان از دندان درد احتمالی در هنگام جویدن غذا و در بحث زیبایی باقی ماندن دندان در دهان و داشتن لبخند زیبا استفاده کرد.</p>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-lg-4 col-md-6 col-sm-6 p-0">#}
{#                    <div class="single-services-box">#}
{#                        <h3><i class="flaticon-tooth-2 color-043d72"></i> تاج دندان <br>درمان</h3>#}
{#                        <p>تاج های دندانی از جنس استیل ضد زنگ ، تاج هایی از پیش ساخته شده است که بر روی دندان های دائمی به صورت موقت کار گذاشته می شود. این تاج از جنس استیل هنگامی که تاج دائمی از مواد دیگری در حال ساخت می باشد ، از دندان و ترمیم آن محافظت خواهد کرد. برای کودکان ، از تاج استیل ضد زنگ معمولاً برای قرار دادن بر روی دندان شیری استفاده می شود که متناسب با دندان های شیری آماده خواهد شد. تاج تمام دندان را پوشانده و از پوسیدگی بیشتر آن محافظت می کند. وقتی دندان شیری می اُفتد تا بتواند جا را برای دندان دائمی باز کند ، تاج به طور طبیعی همراه با آن خواهد افتاد. به طور کلی ، تاج های از جنس استیل ضد زنگ برای دندان های کودکان استفاده می شود زیرا برای آنها نیازی به مراجعات متعدد به دندانپزشکی نیست و از این رو مقرون به صرفه تر از تاج هایی هستند که به صورت سفارشی ساخته می شوند و از جمله مراقبت های دندانپزشکی پیشگیرانه ای برای محافظت از دندان های بدون تاج هستند.</p>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-lg-4 col-md-6 col-sm-6 p-0">#}
{#                    <div class="single-services-box">#}
{#                        <h3><i class="flaticon-tooth"></i> سفید کردن دندان <br>زیبایی</h3>#}
{#                        <p>یکی از پرکاربردترین روشهای سفید کردن دندان، روش بلیچینگ است که در آن دندانپزشک با استفاده از یک ژل مخصوص که دارای پراکسید در ترکیب خود است برای سفید کردن دندان ها استفاده می کند. برای اینکه میزان تاثیرگذاری و همچنین سرعت فرآیند عملکردی ژل بیشتر شود، از پرتوهای لیزری نیز در این روش استفاده می شود. چرا که پرتوهای لیزری کمک می کنند میزان نفوذ ژل بیشتر شود و باعث سریعتر حل شدن لکه ها در ژل شوند. بعد از زمان مشخصی دندانپزشک لایه ژل قبلی را از سطح دندان بر می دارد و لایه دیگری از ژل را روی آنها قرار می دهد.</p>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-lg-4 col-md-6 col-sm-6 p-0">#}
{#                    <div class="single-services-box">#}
{#                        <h3><i class="flaticon-dental-implant color-043d72"></i> مراقبت از دندان <br>پیشگیری</h3>#}
{#                        <p>مسواک زدن و نخ دندان کشیدن می‎تواند تا حد زیادی به از بین بردن پلاک کمک کند اما بعضی از پلاک‌ها به راحتی پاک نمی‌شوند و به مرور رسوب می‌کنند و تنها با پاکسازی حرفه‌ای دندانپزشک خوب می‌توان از آنها خلاص شد. پلاک و رسوبی که روی دندان باقی می‌ماند تنها باعث پوسیدگی دندان نمی‌شود، بلکه به زیر لثه نفوذ می‌کند و منجر به بروز انواع بیماری‌های لثه می‌شود. در نهایت فرآیند بیماری تا جایی پیش می‌رود که تنها راه درمان آن، کشیدن دندان است.#}
{##}
{#یک برنامه‌ی ثابت و منظم بهداشت دهان و دندان، پاکسازی منظم و حرفه‌ای و مراجعه‌ی مرتب به دندانپزشکی خوب، دندان و لثه‌ی شما را سالم نگه خواهد داشت و لبخند زیبایی برایتان به ارمغان خواهد آورد.</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{#    <!-- End Services Area -->#}

    <!-- Start FunFacts Area -->
    <section class="funfacts-area ptb-100 bg-043d72">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12">
                    <div class="funfacts-content">
                        <span class="sub-title">حقایق جالب</span>
                        <h2>درباره پروژه های ما بیشتر بدانید</h2>
                    </div>
                </div>

                <div class="col-lg-7 col-md-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                            <div class="single-funfacts">
                                <h3><span class="odometer" data-count="858">00</span><sup>+</sup></h3>
                                <p>مراجعه کننده</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                            <div class="single-funfacts">
                                <h3><span class="odometer" data-count="100">00</span><sup>%</sup></h3>
                                <p> رضایت </p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                            <div class="single-funfacts">
                                <h3><span class="odometer" data-count="15000">00</span><sup></sup></h3>
                                <p>ایمپلنت عصب کشی بلیچینگ</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                            <div class="single-funfacts">
                                <h3><span class="odometer" data-count="15">00</span><sup>+</sup></h3>
                                <p>تجربه</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End FunFacts Area -->






    <!-- Start Testimonial Area -->
    <section class="testimonial-area ptb-100">
        <div class="container">
            <div class="section-title">
                <span class="sub-title">بازخورد مشتریان</span>
                <h2>مشتریان چه می گویند</h2>
                <P>❤️لبخند شما مایه ی دلگرمی ماست❤️</P>
            </div>

            <div class="testimonial-slides">
                <div class="client-feedback">
                    <div>
                        <div class="item">
                            <div class="single-feedback">
                               <p>محشرید دکتر</p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="single-feedback">
                              <p>قیمت ها به نسبت کار درجه یکی که انجام میدید خیلی خوبه</p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="single-feedback">
                               <p>نه تنها ترسم از دندونپزشکی ریخته تازه عاشقش هم شدم 😉</p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="single-feedback">
                            <p>دربرخورد اول آدم واقعا جذبتون میشه</p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="single-feedback">
                            <p> من که هرکیو میشناسم فقط از شما پیشش میگم</p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="single-feedback">
                                <p>با شخصیت و کار بلد</p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="single-feedback">
                              <p>با تعهد،دقیق،خوش برخورد و در کل درجه یک✌️</p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="single-feedback">
                             <p>بهترین دندانپزشک های کشور</p>
                            </div>
                        </div>
                    </div>

                    <button class="prev-arrow slick-arrow">
                        <i class='flaticon-back'></i>
                    </button>

                    <button class="next-arrow slick-arrow">
                        <i class='flaticon-next-1'></i>
                    </button>
                </div>

                <div class="client-thumbnails">
                    <div>
                        <div class="item">
                            <div class="img-fill"><img src="{% static 'img/client-image/2.jpg' %}" alt="client"></div>

                            <div class="title">
                                <h3>کامران</h3>
                                <span>بازاریاب</span>
                            </div>
                        </div>

                        <div class="item">
                            <div class="img-fill"><img src="{% static 'img/client-image/4.jpg' %}" alt="client"></div>

                            <div class="title">
                                <h3> سپهر</h3>
                                <span>آرایشگر</span>
                            </div>
                        </div>


                        <div class="item">
                            <div class="img-fill"><img src="{% static 'img/client-image/5.jpg' %}" alt="client"></div>

                            <div class="title">
                                <h3>محمد</h3>
                                <span>مهندس عمران</span>
                            </div>
                        </div>

                        <div class="item">
                            <div class="img-fill"><img src="{% static 'img/client-image/1.jpg' %}" alt="client"></div>

                            <div class="title">
                                <h3>ملیحه</h3>
                                <span>ورزشکار</span>
                            </div>
                        </div>



                        <div class="item">
                            <div class="img-fill"><img src="{% static 'img/client-image/5.jpg' %}" alt="client"></div>

                            <div class="title">
                                <h3>هومن</h3>
                                <span>حسابدار</span>
                            </div>
                        </div>

                        <div class="item">
                            <div class="img-fill"><img src="{% static 'img/client-image/3.jpg' %}" alt="client"></div>

                            <div class="title">
                                <h3> رزیتا</h3>
                                <span>آشپز</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Testimonial Area -->



    <!-- Start Blog Area -->
       <section class="blog-area ptb-100">
        <div class="container">
            <div class="section-title">
                <span class="sub-title">مقالات ما</span>
                <h2>آخرین مقالات وبلاگ ما</h2>
                <p> نکاتی برای حفط سلامتی دهان و دندان شما </p>
            </div>

            <div class="row">
                {% for item in post %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single-blog-post">
                            <div class="post-image">
                                <a href="#"><img src="{{ item.image.url }}" alt="image"></a>

                                <div class="date"><i class="far fa-user"></i> {{ item.author }}</div>
                            </div>

                            <div class="post-content">
                                <h3><a href="#">{{ item.title }}</a></h3>
                                <p>{{ item.body }}</p>

                                <a href="{{ item.get_absolute_url }}" class="read-more-btn">بیشتر بخوانید <i
                                        class="flaticon-back"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}



                <div class="col-lg-12 col-md-12">
                    <div class="blog-notes">
                        <p>مشاهده برای کمک به شما در انجام خدمات بهتر، سریعتر. <a href="{% url 'blog:blog' %}">بازدید از
                            وبلاگ</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Blog Area -->




    <div class="go-top"><i class="fas fa-chevron-up"></i><i class="fas fa-chevron-up"></i></div>




{% endblock %}