{% extends 'base.html' %}
{% load static %}
{% block main %}

    <!-- Start Page Title Area -->
    <div class="page-title-area page-title-bg2">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-title-content">
                        <h2>قیمت گذاری</h2>
                        <ul>
                            <li><a href="index.html">صفحه اصلی</a></li>
                            <li>قیمت گذاری</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->

    <!-- Start Pricing Area -->
    <section class="pricing-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-pricing-box">
                        <div class="pricing-header bg1">
                            <h3>پایه</h3>
                        </div>

                        <ul class="pricing-features-list">
                            <li><i class="fas fa-check"></i> دندانپزشکی</li>
                            <li><i class="fas fa-check"></i> جراجی دندان</li>
                            <li><i class="fas fa-check"></i> عصب کشی</li>
                            <li><i class="fas fa-check"></i> ایمپلنت دندان</li>
                            <li><i class="fas fa-check"></i> لمینت دندان</li>
                        </ul>

                        <div class="price">
                            179 <sub>تومان</sub><sub>/ ماهانه</sub>
                        </div>


                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-pricing-box">
                        <div class="pricing-header bg2">
                            <h3>استاندارد</h3>
                        </div>

                        <ul class="pricing-features-list">
                            <li><i class="fas fa-check"></i> دندانپزشکی</li>
                            <li><i class="fas fa-check"></i> جراجی دندان</li>
                            <li><i class="fas fa-check"></i> عصب کشی</li>
                            <li><i class="fas fa-check"></i> ایمپلنت دندان</li>
                            <li><i class="fas fa-check"></i> لمینت دندان</li>
                        </ul>

                        <div class="price">
                            225 <sub>تومان</sub><sub>/ ماهانه</sub>
                        </div>


                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                    <div class="single-pricing-box">
                        <div class="pricing-header bg3">
                            <h3>حرفه ای</h3>
                        </div>

                        <ul class="pricing-features-list">
                            <li><i class="fas fa-check"></i> دندانپزشکی</li>
                            <li><i class="fas fa-check"></i> جراجی دندان</li>
                            <li><i class="fas fa-check"></i> عصب کشی</li>
                            <li><i class="fas fa-check"></i> ایمپلنت دندان</li>
                            <li><i class="fas fa-check"></i> لمینت دندان</li>
                        </ul>

                        <div class="price">
                            500 <sub>تومان</sub><sub>/ ماهانه</sub>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Pricing Area -->

    <!-- Start CTA Area -->
    <section class="cta-area ptb-100 jarallax" data-jarallax='{"speed": 0.3}'>
        <div class="container">
            <div class="cta-content">
                <div class="icon">
                    <i class="flaticon-business-and-finance"></i>
                </div>
                <h2>رزرو نوبت معاینه دندانپزشکی </h2>
                <a href="tel:025-37833403" class="call-us"><i class="flaticon-phone-call"></i>025-37833403</a>
            </div>
        </div>
    </section>
    <!-- End CTA Area -->

{% endblock %}