{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V4</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images_log/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor_log/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts_log/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts_log/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor_log/animate/animate.css' %} ">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static ' vendor_log/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor_log/animsition/css/animsition.min.css' %} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor_log/select2/select2.min.css' %} ">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor_log/daterangepicker/daterangepicker.css' %} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css_log/util.css' %} ">
	<link rel="stylesheet" type="text/css" href="{% static 'css_log/main.css' %} ">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url({% static 'images_log/bg-01.jpg' %});">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form class="login100-form validate-form" method="post">
                    {% csrf_token %}
					<span class="login100-form-title p-b-49">
						Login
					</span>

					<div class="form-control" >
						<span class="label-input100">شماره تلفن</span>
						   <p class="alert-danger" style="background-color: red">{{ form.phone.errors }}</p>
                            {{ form.phone }}
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>


					
{#					<div class="text-right p-t-8 p-b-31">#}
{#						<a href="#">#}
{#							Forgot password?#}
{#						</a>#}
{#					</div>#}
					
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" type="submit">
								تایید
							</button>
						</div>
					</div>

					<div class="txt1 text-center p-t-54 p-b-20">
						<span>
							Or Sign Up Using
						</span>
					</div>

					<div class="flex-c-m">
						<a href="#" class="login100-social-item bg1">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="login100-social-item bg2">
							<i class="fa fa-twitter"></i>
						</a>

						<a href="#" class="login100-social-item bg3">
							<i class="fa fa-google"></i>
						</a>
					</div>

					<div class="flex-col-c p-t-155">
						<span class="txt1 p-b-17">
							Or Sign Up Using
						</span>

						<a href="#" class="txt2">
							Sign Up
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static 'vendor_log/jquery/jquery-3.2.1.min.js' %} "></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor_log/animsition/js/animsition.min.js' %} "></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor_log/bootstrap/js/popper.js' %} "></script>
	<script src="{% static 'vendor_log/bootstrap/js/bootstrap.min.js' %} "></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor_log/select2/select2.min.js' %} "></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor_log/daterangepicker/moment.min.js' %} "></script>
	<script src="{% static ' vendor_log/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor_log/countdowntime/countdowntime.js' %} "></script>
<!--===============================================================================================-->
	<script src="{% static 'js_log/main.js' %} "></script>

</body>
</html>